/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
/*
body {
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);

    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}
*/

input[type="text"]
{
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}

input[type="number"]
{
  background: rgba(0, 0, 0, 0);
  border: none;
/*    outline: none;*/
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

.title {
  font-family: "Arial", Arial;
  font-weight: bold;
  position:relative;
  border:none;
  font-size: 4vw;
  text-align: center;
  width:100%;
  z-index: 1;
}

.mainpic {
  position:relative;
  border:none;
  width:100%;
  left:0%;
  z-index: 2;
}

.valuepic {
  position: absolute;
  bottom: 19.5%;
  left:20%;
  width: 0%;
  height: 0%;
}

.ghostpic {
  position:fixed;
  border:none;
  width:100%;
  top:17vw;
  left:0%;
  z-index: 2;
}

.pic_frame {
  position:relative;
  border:none;
  width:100%;
  z-index: 1;
}

.diagram_frame2 {
  position:relative;
  border:none;
  margin-left: auto;
  margin-right: auto;
  width:70%;
  z-index: 1;
}


.diagram_text {
    position: absolute;
    border: solid #444444;
    border-width: 1px;
    min-width:15vw;
    max-width: 16vw;
    font-family: "Times New Roman", Times, serif;
    font-size: 5vw;
    text-align: center;
}

.diagram_unit_text {
    position: absolute;
    font-family: "Times New Roman", Times, serif;
    font-size: 4vw;
    text-align: center;
}

.diagram_input {
  position: absolute;
  border: none;
  border-color: transparent;
  font-family: "Times New Roman", Times, serif;
  font-size: 5vw;
  min-width:15vw;
  max-width: 15vw;
  min-height:7.7vw;
  text-align: center;
}

#toggle_e_x {
  position: absolute;
  border: none;
  border-color: transparent;
  top: 8%;
  left:83%;
  min-width: 12vw;
  min-height:12vw;
}

#y_achse_main {
  top: 4%;
  left:22%;
}

#x_achse_main {
  top: 60%;
  left: 85%;
}

#y_achse_unit {
  top: 42%;
  left:5%;
}

#x_achse_unit {
  top: 82%;
  left: 47%;
}

#e_max_main_input {
  top: 81.5%;
  right:10%;
}

#e_max_main_text {
  top: 82%;
  right:12%;
}

#e_min_main_input {
  top: 81.5%;
  left:16%;
}

#e_min_main_text {
  top: 82%;
  left:14%;
}

#e_unit_text {
  top: 82%;
  left: 50%;
}

#x_max_main_input {
  top: 20.5%;
  left: 3.5%;
}

#x_max_main_text {
  top: 21%;
  left: 2%;
}

#x_min_main_input {
  top: 66.5%;
  left: 3.5%;
}

#x_min_main_text {
  top: 67%;
  left: 2%;
}

#x_unit_text {
  top: 45%;
  left: 10%;
}

.formula_text {
    position: absolute;
    font-family: "Times New Roman", Times, serif;
    font-size:4.5vw;
    min-width:10vw;
    text-align: center;
}
#formula_text_1 {    /* x */
  font-style: italic;
  font-weight: bold;
  top: 12%;
  left:12%;
}
#formula_text_2 {   /* xmin */
  top: 12%;
  left:32%;
}
#formula_text_2b {   /* xmin unit */
  top: 12%;
  left:42%;
}
#formula_text_3 {   /* xmax above line */
  top: 28.5%;
  left:38%;
}
#formula_text_4 {   /* xmin above line */
  top: 28.5%;
  left:56%;
}
#formula_text_5 {   /* emax below line */
  top: 43%;
  left:38%;
}
#formula_text_6 {   /* emin below line */
  top: 43%;
  left:56%;
}
#formula_text_6b {  /* unit above line */
  top: 30%;
  left:74%;
}
#formula_text_6c {  /* unit below line */
  top: 43%;
  left:74%;
}
#formula_text_7 {   /* x-Value */
  font-style: italic;
  font-weight: bold;
  border: solid #000000;
  border-width: 1px;
  min-width:16vw;
  max-width: 16vw;
  min-height: 6vw;
  max-height: 6vw;
  padding-top: 1vw;
  text-align: center;
  top: 59%;
  left:42%;
  z-index: 1;
}
#e_main_input {   /* x-Value input */
  font-size:4.5vw;
  font-weight: bold;
  color: #000000;
  min-width:16vw;
  max-width: 16vw;
  top: 58%;
  left:43%;
  z-index: 2;
}
#formula_text_8 { /* emin third row */
  top: 61%;
  left:64%;
}
#formula_text_9 { /* unit third row */
  top: 61%;
  left:80%;
}
#formula_text_2_1 {   /* x (will be deleted) */
  font-style: italic;
  font-weight: bold;
  top: 30%;
  left:20%;
}
#formula_text_2_2 {   /* result */
  font-style: italic;
  font-weight: bold;
  top: 80%;
  left:32%;
}

.dropbtn {
  background-color: #3498DB;
  background: rgba(0, 0, 0, 0);
  color: black;
  padding: 1vw;
  font-size: 7vw;
  font-style: italic;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  border: 1px solid;
  outline: none;
  min-width: 11vw;
  min-height: 11vw;
  z-index: 2;
}

.dropbtn-unit {
  background-color: #3498DB;
  background: rgba(0, 0, 0, 0);
  color: black;
  padding: 1vw;
  font-size: 5vw;
  font-style: italic;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  border: 1px solid;
  outline: none;
  min-width: 9vw;
  min-height: 9vw;
  z-index: 2;
}

.dropdown {
  position: absolute;
  background: rgba(0, 0, 0, 0);
  display: inline-block;
  z-index: 2;
}

.refresh {
  position:absolute;
  border: none;
  background: rgba(0, 0, 0, 0);
  display: inline-block;
  top: 7%;
  left:47%;
  min-width: 7vw;
  min-height: 7vw;
  max-width: 7vw;
  max-height: 7vw;
  z-index: 2;
}

.dropdown-content {
  display: none;
  position: absolute;
  text-align: center;
  background-color: #f1f1a1;
  min-width: 12vw;
  font-size: 10vw;
  overflow: auto;
  font-style: normal;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  z-index: 2;
}

.dropdown-content-unit {
  display: none;
  position: absolute;
  text-align: center;
  background-color: #f1f1a1;
  min-width: 10vw;
  font-size: 9vw;
  overflow: auto;
  font-style: normal;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  z-index: 2;
}

.dropdown-element {
  position: relative;

  border-bottom: 1px solid;
  z-index: 3;
}

.show {display: block;}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:block;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
